* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/ab2584fd4b395a5133dcef2edc253161/photo-1615731439720-47878ecc1ac6.jpg");
}
nav {
  border: 2px solid grey;
}
nav a {
  position: relative;
}
.boardlist {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ebecf0;
  width: 20vw;
  height: auto;
  margin: 15px 0 0 15px;
}
.boardlist input {
  margin: 9px;
}
.data {
  display: flex;
  margin: 5px;
  background-color: rgb(247, 241, 241);
  justify-content: space-between;
}
#listInput {
  background-image: url("./plus.svg");
  background-repeat: no-repeat;
}
#head {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
#head img {
  cursor: pointer;
}
.checklist {
  display: flex;

  left: 30vw;
  position: absolute;
  width: 600px;
  height: auto;
  background-color: #ebecf0;
  border-radius: 5px;
}
ul {
  /* position:absolute; */
  margin: 10px;
  padding: 0;
}
li {
  margin: 5px;
  background-color: white;
  list-style: none;
}
.part2 li {
  width: 14vw;
}
.part1 {
  margin: 10px;
  /* background-color: violet; */
}
.part2 {
  padding-top: 50px;
  width: 20vw;
  height: 30vh;
  margin: 5px 5px 5px 0;
  /* background-color: tomato; */
}
.part2 img {
  width: 17px;
  height: 15px;
}
h5 {
  background-color: #ebecf0;
}
.part1 input {
  /* background-color:  #ebecf0; */
}
