*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/ab2584fd4b395a5133dcef2edc253161/photo-1615731439720-47878ecc1ac6.jpg");
}
h1{
    position: relative;
    left:35vw;
    top:30vh;
}